.autor-slider {
    position: relative;
    padding: 0 42px;

    @include breakpoint(sm) {
        padding: 0;
    }

    &__arrow {

        position: absolute;
        display: flex;
        justify-content: center;
        background-color: var(--white);
        border: none;
        position: absolute;
        top: 50%;
        width: 42px;
        height: 42px;
        transform: translateY(-50%);
        z-index: 1;
        background-image: url(../images/svg_icon/arrow_down.svg);

        &>svg {
            display: none;
        }

        &:last-child {
            transform: rotate(180deg);
            left: 0px;
        }

        &:first-child {
            right: 0px;
        }
    }

    &__pagination {
        margin-top: 25px;
    }

    &__pagination>li {
        margin-right: 20px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__pagination>li>button {
        display: block;
        background: none;
        background: var(--white);
        width: 10px;
        height: 10px;
        border: 1px solid #C6CBCD;
        border-radius: 50%;
        padding: 0;

        &.is-active {
            background: var(--grey);
        }
    }
}