.back-overlay {
    display: none;
    background: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%);
    background-size: cover, cover;
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;

    &_visibility {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &_img {
        display: block;
        margin: 0 auto;

        @include breakpoint(lg) {
            width: 30px;
            height: 30px;
        }

        @media (max-width: 760px) {
            width: 20px;
            height: 20px;
        }

        @media (max-width: 568px) {
            width: 15px;
            height: 15px;
        }
    }

    &__title {
        margin-top: 57px;
        padding: 13px 0;
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 24px;
        text-transform: uppercase;
        color: var(--white);
        text-align: center;

        @include breakpoint(lg) {
            font-size: 18px;
            margin-top: 0;
            padding-bottom: 0;
        }

        @media (max-width: 760px) {
            font-size: 14px;
            padding: 10px 0;
        }

        @media (max-width: 568px) {
            padding: 5px 0;
        }
    }

    &__subtitle {
        padding: 6px 0;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        color: var(--white);
        text-align: center;

        @include breakpoint(lg) {
            font-size: 14px;
        }

        @include breakpoint(sm) {
            font-size: 12px;
        }
    }
}