.reviews-card {
    margin-left: 50px;

    @include breakpoint(xl) {
        margin-left: 48px;
    }

    @include breakpoint(lg) {
        margin-left: 30px;
    }

    @include breakpoint(sm) {
        margin-left: 0;
    }

    &__img {
        width: 88px;
        height: 88px;
        border-radius: 50%;
        margin-left: 15px;

        @include breakpoint(xl) {
            margin-left: 32px;
        }

        @include breakpoint(lg) {
            margin-left: 20px;
        }

        @include breakpoint(sm) {
            margin-left: 0;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 24px;
        text-transform: uppercase;
        color: var(--black);

        @include breakpoint(xl) {
            font-size: 18px;
        }
    }

    &__subtitle {
        margin-top: 12px;
        font-weight: 400;
        font-size: 18px;
        text-transform: uppercase;
        color: var(--black);

        @include breakpoint(xl) {
            font-size: 14px;
        }
    }

    &__subtitle::after {
        content: '';
        width: 47px;
        display: block;
        height: 4px;
        background: var(--accent);
        border-top: none;
        margin-top: 22px;

        @include breakpoint(sm) {
            width: 134px;
            margin: 22px auto 0;
        }
    }

    &__descr {
        margin-top: 45px;
        font-weight: 400;
        font-size: 18px;
        color: var(--black);

        @include breakpoint(xl) {
            font-size: 14px;
        }

        @include breakpoint(md) {
            margin-top: 20px;
        }
    }
}