.splide__arrow {
    background-color: var(--white);
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;

    &:last-child{
        transform: rotate(180deg);
        left: 0px;
    }
    
    &:first-child {
        right: 0px;
    }

}