.gallery {
    margin: 42px auto 42px;

    
    @media (max-width: 1200px) {
        margin-top: 24px;
        margin-bottom: 24px;
    }

    @media (max-width: 992px) {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    @media (max-width: 760px) {
        margin-top: 14px;
        margin-bottom: 14px;
    }

    &_grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows:  repeat(2);
        gap: 0;
        margin-top: 42px;
        
        @media (max-width: 560px) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows:  repeat(5);
            margin-top: 0;
        }
    }

	&__link {           
        --gallery-size-img: calc(100%);
        width: var(--gallery-size-img);
        position: relative;
        padding-bottom: var(--gallery-size-img) ;
        overflow: hidden;
	}

    &__link:hover .back-overlay {
        display: block;
    }

    &__link_active {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 3;

        @media (max-width: 560px){
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 4;
        }
	}

    
        @media (max-width: 560px) {
            &__link_hor {
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 5;
                grid-row-end: 6;
                padding-bottom: calc((100% / 2));
            }
        }

	&__list-img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        object-fit: cover;
        width: 100%;
        height: 100%;
	}

}